.imageContainer {
  display: flex;
  flex-direction: column; /* Change the flex direction to column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  block-size: 100%; /* Ensure the container takes up the full height */
}

.image {
  inline-size: 200px;
  block-size: 200px;
  background-color: #ccc;
  margin: 10px;
}

.discoverNext {
  text-align: center;
  margin: 20px 0; /* Add margin to separate from images */
}

.horizontalImages {
  display: flex; /* Make the first four images horizontal */
}

.horizontalMove {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
